<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
        					http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config />
	<context:property-placeholder/>
    <context:component-scan base-package="nz.co.senanque.perspectivemanager, nz.co.senanque.login" />
	<bean id="messageSource" class="nz.co.senanque.resourceloader.ResourceBundleMessageSourceExt">
		<property name="basenames">
			<list>
				<value>ApplicationMessages</value>
			</list>
		</property>
	</bean>
<!--
	This is an example of a production bundle manager. The bundlesDir environment variable is defined
	in a properties file or on the JVM command line and it points to the directory that holds the bundles. 

	<bean id="bundleManager" class="nz.co.senanque.madura.bundle.BundleManagerWeb">
		<property name="directory" value="${bundlesDir}"/>
	</bean>
 -->

<!--
 	This bundle manager configuration is suitable for demos. It locates a fixed set of bundles from a directory in the war file (WEB-INF/bundles)
	Useful for demos but not for production because you cannot dynamically update the bundles.
 -->	
	<bean id="bundleManager" class="nz.co.senanque.madura.bundle.BundleManagerWeb"/>

</beans>